  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" onclick="window.location.href='/api/products/'">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="window.location.href='/api/sessions/profile'">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="window.location.href='/api/carts/{{user.cart.id_cart}}'">Carrito</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="window.location.href='/chat/'">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="window.location.href='/api/products/realtimeproducts'">Cargar
              productos</a>
          </li>
        </ul>
      </div>

      <div class="d-flex" style="margin-right: 3%;">
        <button class="btn btn-outline-success" onclick="window.location.href='/api/sessions/logout'">Logout</button>
      </div>
    </div>
  </nav>

<h1>Carrito</h1>
<br>
<h2>Cart ID: {{cart._id}}</h2>
<br>
<ul id="docs" class="d-flex flex-column gap-3 p-0">
        {{#each cart.products}}
        <ul class="card p-3 list-unstyled gap-1 d-flex flex-row flex-wrap">
            <img src={{this.id_prod.thumbnails}}[0] class="align-self-center" alt="..." style="height: 200px;">
            <div class="w-75">
                <li><strong>id:</strong> {{this.id_prod._id}}</li>
                <li><strong>title:</strong> {{this.id_prod.title}}</li>
                <li class="text-truncate"><strong>description:</strong>{{this.id_prod.description}}</li>
                <li class="text-truncate"><strong>thumbnails:</strong> {{this.id_prod.thumbnails}}</li>
                <li><strong>price:</strong> {{this.id_prod.price}}</li>
                <li><strong>code:</strong> {{this.id_prod.code}}</li>
                <li><strong>stock:</strong> {{this.id_prod.stock}}</li>
                <li><strong>category:</strong> {{this.id_prod.category}}</li>
                <li><strong>quantity:</strong> {{this.quantity}}</li>
                <br />
            </div>
            <button class="deleteButton btn btn-outline-primary w-auto h-auto p-3 m-3 align-self-end"
                data-id={{this.id_prod._id}}>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z">
                    </path>
                </svg>
            </button>
            {{!-- <button class="postButton" data-id={{this._id}}>Borrar</button> --}}
        </ul>
        {{/each}}
    </ul>
    <br />
    <button class="btn btn-outline-primary"
        onclick="window.location.href='/api/carts/{{cart._id}}/purchase'">Comprar</button>

